<div class="row">
	<div class="col-sm-6">
		<h3 class="text-center">Paypal</h3>
		<p class="pt-5">Wspomóż organizacje domów tymczasowych dobrowolnym datkiem przez system Paypal wpisując kwotę i zatwierdzając przyciskiem "Paypal".
		</p>
		 <img src="/assets/images/paypal.png" class="mx-auto d-block" alt="pay pal">
			<div class="d-flex flex-row justify-content-center">
				<div >
				<input class="d-inline " type="number">
				<a class="btn btn-primary d-inline" href="https://www.paypal.com">Wesprzyj</a>
				</div>
			</div>
	</div>
	<div class="col-sm-6 text-center">
	<h3 class="text-center">Dane do przelewu</h3>
		<p class="pt-5"><b>Numer konta</b> 7611 1114 1011 0932 1051 1211 5117</p>
		<p><b>Tytuł przelewu</b> Wsparcie Schroniska</p>
		<p><b>Adres</b> Grzbietów, ul. Zielona 8, 31-234</p>
		<p><b>Nazwa banku</b> BKO PB Pank Bolski</p>
	</div>
</div>
