<h3>Stwórz dom tymczasowy</h3>
<p>
Dom tymczasowy to nic innego jak prywatny dom lub mieszkanie, gdzie pies czy kot uczy się życia z człowiekiem. W tym czasie aktywnie szukamy mu domu stałego, a ponieważ poznajemy jego charakter, możemy znaleźć najlepiej dopasowanego do niego opiekuna. Wszystkie nasze Adopciaki przebywają w domach tymczasowych.
<br>
Dom tymczasowy to szansa na nowe życie dla zwierzaka, który w schronisku może nigdy nie zostałby zauważony. To też ratunek przed ogromnym stresem, z którym wiąże się pobyt w schronisku, to spokój, bliskość i poczucie bezpieczeństwa. W domu tymczasowym schroniskowy, często wycofany zwierzak „odżywa”, socjalizuje się z domownikami i, często, z innymi zwierzętami, a co za tym idzie – o 1000% rosną jego szanse na docelową adopcję!
<br>
Tworząc dom tymczasowy możesz uratować wiele zwierzęcych istnień i dzień po dniu obserwować jak dotąd niepewny siebie psiak czy kociak dzięki Tobie staje się coraz śmielszy i szczęśliwszy. Moment rozstania z podopiecznym bywa trudnym i wzruszającym doświadczeniem, ale jednocześnie świadomość, że dzięki nam kolejny zwierzak znalazł swoje miejsce na ziemi to fantastyczne uczucie! Poza tym wiemy, że kolejny czeka w kolejce na swoją szansę…
<br>
Ale stworzenie domu tymczasowego to, oprócz pięknego daru serca, duża odpowiedzialność. Zwierzak może znaleźć nowy dom w ciągu kilku tygodni albo kilku miesięcy. Czasem zdarza się, że zostaje na stałe. Wiele zwierząt wymaga sporo uwagi i pracy opiekuna aby być przygotowanym na nowe życie. Niektóre wymagają pracy z profesjonalnym behawiorystą.
</p>
